<h3>{{task.title}}</h3>
<p>{{task.description}}</p>
<h3>Завантажити рішення</h3>
<input 
type="file" 
ngf-select 
ng-model="task.file" 
name="file" 
ngf-max-size="20MB" 
/>
<button type="submit" ng-click="send()">Зберегти</button>







<!--Непонятно як завантажити файл, як ти будеш відрізняти ідеальний файл від не ідеального,
вони ж в тебе в одну кучу валяться, нащо мені якщо у мене вже є таск колись створений ще раз слати
тобі в хедерах ту всю поєботу, достатньо просто айді прислати ж
я шарю шо там буде 2 посуті однакові методи, але воно надо, бо по іншому шо ти зробиш?-->