<div class="row" ng-if="dataFactory.isAdmin">
    <div class="col-md-1">
    </div>




    <!--It's admin panel-->
    <div class="col-md-10 adminPanel">
        <h1>Адмін панель</h1>
        <div class="col-md-10">
            <h3 ng-link="['Addtask']" >Додати таск</h3>
        </div>
    </div>





    <div class="col-md-1">
    </div>
</div>
<div class="row">
     <div class="col-md-1">
    </div>
    <div class="col-md-5 dashbordBlock">
        <h3>Найцікавіші завдання</h3>
    </div>
    <div class="col-md-5 dashbordBlock">
        <h3>Aктивні завдання</h3>
        <ul class="list-group"  >
            <li class="list-group-item" ng-repeat="task in activeTasks"><a href="/#/task/?id={{task._id}}">{{task.title}}</a></li>
        </ul>
    </div>
    <div class="col-md-1">
    </div>
</div>














 